*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
CalculatorReadMe.rtf
Calculator_KeyStore
Medicode.zip
Screen Shot 2018-06-11 at 12.50.35 PM.png
Screen Shot 2018-06-11 at 12.49.35 PM.png
